RageVaders/Library/
RageVaders/Temp/
RageVaders/Builds/
RageVaders/BuildReports/
RageVaders/obj/
RageVaders/Assets/StreamingAssets/AssetBundles/
RageVaders/Assets/StreamingAssets/AssetBundles.meta
*.userprefs
*.sln
*.csproj
*.unityproj
